<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professores</title>
</head>
<body>
    <h1><a>Lista de Professores</a></h1>

    <table border="1" width=500 height=100>
        <tr>
        {% for p in prof %}
        <tr><td>{{p[0]}}</td></tr>
        </tr>
        {%endfor%}
    </table>

    <form id= login action="/exibir" method="POST">

        <p>
            <label>
                Escolha um professor da lista
            </label><br>
        </p>
        <p>
            <label>
                Nome:
            </label><br>
            <input type="text" name="nomeprof">
        </p>

        <p><br><input type="submit" name="detalhesbt" value="Ver detalhes">

        </p>
        {% if erro %}
            <span style="color:red">{{erro}}</span><br>
        {% endif %}
    </form>
</body>
</html>